[submodule "files/cmangos/classic-db"]
    path = files/cmangos/classic-db
    url = https://github.com/canidae/classic-db
    branch = master
    ignore = all
[submodule "build/mangos-classic"]
    path = build/mangos-classic
    url = https://github.com/canidae/mangos-classic
    branch = master
    ignore = all
